<h4>Alguns lugares que você pode me encontrar!</h4>
<p>
    <a href="https://www.linkedin.com/in/lohmuller" >Linkedin</a> <br>
    <a href="https://github.com/lohmuller">GitHub</a> <br>
    <a href="https://www.hackerrank.com/ian_cheberle">HackerRank</a>
    <br>
    <kjasgfvd></kjasgfvd>
</p>

<script>
    function asfgfasdf(asd) {
        var tasd = $("kjasgfvd").text();
        $("kjasgfvd").text(tasd + asd);
    }

    setTimeout(function() {asfgfasdf('@')}, 1400);
    setTimeout(function() {asfgfasdf('b')}, 3300);
    setTimeout(function() {asfgfasdf('o')}, 3000);
    setTimeout(function() {asfgfasdf('i')}, 100);
    setTimeout(function() {asfgfasdf('.')}, 2100);
    setTimeout(function() {asfgfasdf('.')}, 3200);
    setTimeout(function() {asfgfasdf('n')}, 300);
    setTimeout(function() {asfgfasdf('oo')}, 1900);
    setTimeout(function() {asfgfasdf('r')}, 3400);
    setTimeout(function() {asfgfasdf('o')}, 1500);
    setTimeout(function() {asfgfasdf('u')}, 1600);
    setTimeout(function() {asfgfasdf('t')}, 1700);
    setTimeout(function() {asfgfasdf('l')}, 1800);
    setTimeout(function() {asfgfasdf('a')}, 200);
    setTimeout(function() {asfgfasdf('k')}, 2000);
    setTimeout(function() {asfgfasdf('m')}, 3100);
    setTimeout(function() {asfgfasdf('c')}, 2200);
</script>