<div id="area-game">
    <div id="cenario">
        <div id="obj-janela"></div>
        <div id="obj-estante"></div>
        <div id="obj-computador"></div>
        <div id="obj-telefone"></div>
        <div id="obj-cama"></div>

    </div>
</div>

<div style="display:none">
    <span id="modelo-personagem">
        <div class="personagem {{sprite}}" id="{{id}}" data-direction="baixo" data-speed="1" data-position="andando" data-frame="0" >
            <div class="bubble" style="display:none"></div>
        </div>
    </span>

    <span id="modelo-objeto">
        <div data-objeto="janela"></div>
    </span>

</div>