<div style="display:none;">
    <div class="panel panel-default projeto-thumb">
        <div class="panel-heading">{titulo}</div>
        <div class="panel-body">
            Em breve ._./
            <!-- <div><h4>titulo</h4></div><hr/> -->

            <div style="display:inline-flex;">
                <div class="thumbnail" style="width:80px;height:80px">
                    <img src="/resource/projetos/{img}" alt="Miniatura">
                </div>
                <div style="padding:10px">
                    {description}
                </div>
            </div>
        </div>
    </div>
</div>