[data-direction="baixo"][data-position="parado"][data-frame="0"]{
	background-position: -32px 0px;
}
[data-direction="direita"][data-position="parado"][data-frame="0"]{
	background-position: -32px -64px
}
[data-direction="esquerda"][data-position="parado"][data-frame="0"]{
	background-position: -32px -32px
}
[data-direction="cima"][data-position="parado"][data-frame="0"]{
	background-position: -32px -96px;
}



[data-direction="baixo"][data-position="andando"][data-frame="0"]{
	background-position: 0px 0px;
}
[data-direction="baixo"][data-position="andando"][data-frame="1"]{
	background-position: -64px 0px;
}

[data-direction="esquerda"][data-position="andando"][data-frame="0"]{
	background-position: 0px -32px
}
[data-direction="esquerda"][data-position="andando"][data-frame="1"]{
	background-position: -64px -32px
}

[data-direction="direita"][data-position="andando"][data-frame="0"]{
	background-position: 0px -64px
}
[data-direction="direita"][data-position="andando"][data-frame="1"]{
	background-position: -64px -64px
}

[data-direction="cima"][data-position="andando"][data-frame="0"]{
		background-position: 0px -96px;
}
[data-direction="cima"][data-position="andando"][data-frame="1"]{
		background-position: -64px -96px;
}

.personagem {
    position:absolute;
    width: 32px;
    height: 32px;
}

.personagem.ian {
    background-image: url("../img/ian.png");
}





#pagina-1{
	background-color: #000;
	width:100%;
	height:100%;
}

#cenario{
	    -ms-transform: scale(2,2); /* IE 9 */
    -webkit-transform: scale(2,2); /* Safari */
    transform: scale(2,2);
	top: 150px;

	position:relative;
	margin: 0 auto;
	background-image: url("../img/cenario.png");
	width:256px;
	height:256px;
	background-repeat: no-repeat;
	padding:16px;
}


.balao-texto{
box-shadow: 0 0 6px #B2B2B2;
border-radius: 5px;
	background-color: #fff;
	position:absolute;
	top:-10px;
	left:32px;
	font-size:12px;
	font-family:Arial;
	padding:4px;
}

#obj-estante{
	top: 48px;
	left:32px;
	width:32px;
	height:28px;
}

#obj-computador{
	top: 49px;
	left:72px;
	width:16px;
	height:19px;
}

#obj-telefone{
	top: 55px;
	left:105px;
	width:15px;
	height:14px;
}

#obj-cama{
	top: 145px;
	left:66px;
	width:32px;
	height:40px;
}

#obj-janela{
	top: 35px;
	left:133px;
	width:59px;
	height:21px;
}

[id^="obj-"]{
	transition: 0.2s;
	position:absolute;
	background-color:rgba(10, 236, 53, 0.0);
}
[id^="obj-"]:hover{
background-color:rgba(10, 236, 53, 0.36);;
}




.bubble
{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                 not supported by any browser */
	left:37px;
	position: relative;
	min-width: 10px;
	width: fit-content;
	width: -moz-fit-content;
	font-size: 8px;
	font-family: bubbleFont;
	min-height: 8px;
	padding: 5px;
	background: #FFF none repeat scroll 0% 0%;
	border-radius: 7px;
	border: 1px solid #7F7F7F;
	color: #4E4E4E;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 5px 12px 5px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
left: -11px;
top: 9px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 5px 12px 5px 0;
border-color: transparent #7F7F7F;
display: block;
width: 0;
z-index: 0;
left: -13px;
top: 9px;
}