@font-face {
    font-family: bubbleFont;
    src: url('./../fonts/Fipps-Regular.otf');
}
@font-face {
    font-family: titleFont;
    src: url('./../fonts/04B_30__.TTF');
}
.loader *, #loader{
display:none;
}
.loader #loader {
display:inherit;
}
#loader{
	color:#FFF;	
	text-align: center;
	margin-top: 100px;
}
[id^=pagina]{
display:none;
}
.show-page-inicial > #pagina-inicial,.show-page-sobre > #pagina-sobre,.show-page-projetos > #pagina-projetos ,.show-page-contato > #pagina-contato {
display:inherit;
}
.navbar-collapse{
text-align: right;
}
.navbar{
	font-family: titleFont;
}
body.loader,body.show-page-inicial{
	background-color: #000 !important;
}


.heart-icon{
	background-image: url("../img/life.png");
	width:32px;
	height:32px;
	background-repeat: no-repeat;
}